<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Coins" type="TrezorBalanceMonitoring.MonitoredCoinSection, TrezorBalanceMonitoring" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <Coins>
    <add key="ACM" coinId="ACM" coinName="Actinium" address="" />
    <add key="AXE" coinId="AXE" coinName="Axe" address="" />
    <add key="BCH" coinId="BCH" coinName="Bcash" address="" />
    <add key="TBCH" coinId="TBCH" coinName="Bcash Testnet" address="" />
    <add key="BELL" coinId="BELL" coinName="Bellcoin" address="" />
    <add key="BTG" coinId="BTG" coinName="Bgold" address="" />
    <add key="TBTG" coinId="TBTG" coinName="Bgold Testnet" address="" />
    <add key="BTC" coinId="BTC" coinName="Bitcoin" address="" />
    <add key="REGTEST" coinId="REGTEST" coinName="Regtest" address="" />
    <add key="TEST" coinId="TEST" coinName="Testnet" address="" />
    <add key="BTX" coinId="BTX" coinName="Bitcore" address="" />
    <add key="ZNY" coinId="ZNY" coinName="BitZeny" address="" />
    <add key="BTCP" coinId="BTCP" coinName="Bprivate" address="" />
    <add key="XRC" coinId="XRC" coinName="Brhodium" address="" />
    <add key="CPU" coinId="CPU" coinName="CPUchain" address="" />
    <add key="CRW" coinId="CRW" coinName="Crown" address="" />
    <add key="DASH" coinId="DASH" coinName="Dash" address="" />
    <add key="tDASH" coinId="tDASH" coinName="Dash Testnet" address="" />
    <add key="DCR" coinId="DCR" coinName="Decred" address="" />
    <add key="TDCR" coinId="TDCR" coinName="Decred Testnet" address="" />
    <add key="DGB" coinId="DGB" coinName="DigiByte" address="" />
    <add key="DOGE" coinId="DOGE" coinName="Dogecoin" address="" />
    <add key="ELEMENTS" coinId="ELEMENTS" coinName="Elements" address="" />
    <add key="FTC" coinId="FTC" coinName="Feathercoin" address="" />
    <add key="FIRO" coinId="FIRO" coinName="Firo" address="" />
    <add key="tFIRO" coinId="tFIRO" coinName="Firo Testnet" address="" />
    <add key="FLO" coinId="FLO" coinName="Florincoin" address="" />
    <add key="FJC" coinId="FJC" coinName="Fujicoin" address="" />
    <add key="GAME" coinId="GAME" coinName="GameCredits" address="" />
    <add key="GRS" coinId="GRS" coinName="Groestlcoin" address="" />
    <add key="tGRS" coinId="tGRS" coinName="Groestlcoin Testnet" address="" />
    <add key="HATCH" coinId="HATCH" coinName="Hatch" address="" />
    <add key="tHATCH" coinId="tHATCH" coinName="Hatch Testnet" address="" />
    <add key="KMD" coinId="KMD" coinName="Komodo" address="" />
    <add key="KOTO" coinId="KOTO" coinName="Koto" address="" />
    <add key="LTC" coinId="LTC" coinName="Litecoin" address="" />
    <add key="tLTC" coinId="tLTC" coinName="Litecoin Testnet" address="" />
    <add key="MONA" coinId="MONA" coinName="Monacoin" address="" />
    <add key="MUE" coinId="MUE" coinName="MonetaryUnit" address="" />
    <add key="NMC" coinId="NMC" coinName="Namecoin" address="" />
    <add key="NIX" coinId="NIX" coinName="NIX" address="" />
    <add key="PART" coinId="PART" coinName="Particl" address="" />
    <add key="tPART" coinId="tPART" coinName="Particl Testnet" address="" />
    <add key="PPC" coinId="PPC" coinName="Peercoin" address="" />
    <add key="tPPC" coinId="tPPC" coinName="Peercoin Testnet" address="" />
    <add key="POLIS" coinId="POLIS" coinName="Polis" address="" />
    <add key="XPM" coinId="XPM" coinName="Primecoin" address="" />
    <add key="QTUM" coinId="QTUM" coinName="Qtum" address="" />
    <add key="tQTUM" coinId="tQTUM" coinName="Qtum Testnet" address="" />
    <add key="RVN" coinId="RVN" coinName="Ravencoin" address="" />
    <add key="tRVN" coinId="tRVN" coinName="Ravencoin Testnet" address="" />
    <add key="RITO" coinId="RITO" coinName="Ritocoin" address="" />
    <add key="SMART" coinId="SMART" coinName="SmartCash" address="" />
    <add key="tSMART" coinId="tSMART" coinName="SmartCash Testnet" address="" />
    <add key="XSN" coinId="XSN" coinName="Stakenet" address="" />
    <add key="SYS" coinId="SYS" coinName="Syscoin" address="" />
    <add key="TRC" coinId="TRC" coinName="Terracoin" address="" />
    <add key="UNO" coinId="UNO" coinName="Unobtanium" address="" />
    <add key="XVG" coinId="XVG" coinName="Verge" address="" />
    <add key="VTC" coinId="VTC" coinName="Vertcoin" address="" />
    <add key="VIA" coinId="VIA" coinName="Viacoin" address="" />
    <add key="VIPS" coinId="VIPS" coinName="VIPSTARCOIN" address="" />
    <add key="ZEC" coinId="ZEC" coinName="Zcash" address="" />
    <add key="TAZ" coinId="TAZ" coinName="Zcash Testnet" address="" />
    <add key="ZCR" coinId="ZCR" coinName="ZCore" address="" />
    <add key="LSK" coinId="LSK" coinName="Lisk" address="" />
    <add key="XLM" coinId="XLM" coinName="Stellar" address="" />
    <add key="XMR" coinId="XMR" coinName="Monero" address="" />
    <add key="XRP" coinId="XRP" coinName="Ripple" address="" />
    <add key="tXRP" coinId="tXRP" coinName="Ripple Testnet" address="" />
    <add key="ADA" coinId="ADA" coinName="Cardano" address="" />
    <add key="XTZ" coinId="XTZ" coinName="Tezos" address="" />
    <add key="ONT" coinId="ONT" coinName="Ontology" address="" />
    <add key="WAN" coinId="WAN" coinName="Wanchain" address="" />
    <add key="EOS" coinId="EOS" coinName="EOS" address="" />
    <add key="OMNI" coinId="OMNI" coinName="Omni" address="" />
    <add key="MAID" coinId="MAID" coinName="MaidSafeCoin" address="" />
    <add key="BNB" coinId="BNB" coinName="Binance Chain" address="" />
    <add key="USDT" coinId="USDT" coinName="Tether" address="" />
    <add key="XEM" coinId="XEM" coinName="NEM" address="" />
    <add key="DIM" coinId="DIM" coinName="DIMCOIN" address="" />
    <add key="DIMTOK" coinId="DIMTOK" coinName="DIM TOKEN" address="" />
    <add key="BREEZE" coinId="BREEZE" coinName="Breeze Token" address="" />
    <add key="PAC:HRT" coinId="PAC:HRT" coinName="PacNEM Game Credits" address="" />
    <add key="PAC:CHS" coinId="PAC:CHS" coinName="PacNEM Score Tokens" address="" />
  </Coins>
</configuration>